@use '../../../styles_variables' as var;

:host{
  --mat-fab-container-color:  var(--mat-sys-surface);

  display: flex;
  flex-direction: column;
}

button, button:active, button:hover, button:focus{
  font-size: 50px;
  box-shadow: none;

  align-self: flex-end;
}

mat-card {
  background-color: var(--body-background-color);
  padding: 0 2rem;
  margin-bottom: 2rem;

  h2 {
    width: 100%;
    text-align: center;
  }

  mat-card-footer {
    display: flex;
    justify-content: center;
  }
}


span {
  display: flex;

  align-items: baseline;
  gap: 2rem;

  p{
    overflow: hidden;
  }

  img{
    cursor: pointer;
  }

  &.full{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  p.preline {
    white-space: pre-line;
  }

  p.multi {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &.img {
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;

    > img {
      max-width: 75vw;
      padding: 0.25rem;

      border-width: 1px;
      border-style: solid;
      border-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
      border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));

      @media (min-width: 1024px) {
        width: 500px;
      }
    }
  }
}
